@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Roboto:300,400,700');
@font-face { 
    font-family: 'GoraFree-Regular';  
    src: local('GoraFree-Regular'), url('https://nomail.com.ua/files/woff/af6eee1b3c701a7590c05964d553ee66.woff') format('woff'); 
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
ul {
    padding: 0;
    margin: 0;
}
ui li {
    list-style: none;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
} 
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    line-height: 44px;
    padding: 60px 0px 45px;
    letter-spacing: 2.9px;
}

h2 {
    font-family: 'Roboto', sans-serif;;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}
h3 {
    font-family: 'Roboto', sans-serif;;
    font-size: 14px;
    font-weight: 300;
    color: #221f1f;
    margin-bottom: 3px;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 800;
    line-height: 51.38px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin: 0px;
}
p {
    font-family: 'Roboto', sans-serif;;
    line-height: 30px;
}
.header {
    background: #131415;
    height: 74px;
    margin-bottom: 35px;       
}
.container {
    margin: 0 auto;
    width: 1100px;
  }
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }  
.header__logo, .footer__logo {
    font-family: 'GoraFree-Regular'; 
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    color: #f89513;  
}
.header__logo {
    margin-left: 20px;
    display: block;
}  

/*.nav {
    text-align: center;
}*/
.nav__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 74px;
  }
.nav__item {
    
    padding: 0 8px;
    margin: 0;
}
.nav__link:before {
    content: "";
    display: inline-flex;    
    vertical-align: middle;
    width: 21px;
    height: 18px;
    margin-right: 17px;
    background: center center / contain no-repeat;
}
  
.nav__link {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    display: inline;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
  
.nav__link:hover {
    color: #f89513;
}
  
.nav__item--active .nav__link {
    color: #f89513;
}
.nav__link--icon--main:before {
    background-image: url('./img/main_icon.png');
}
.nav__item--active .nav__link--icon--main:before,
.nav__item:hover .nav__link--icon--main:before {
    background-image: url('./img/main_icon_copy.png');
}  
  
.nav__link--icon--feed:before {
    background-image: url('./img/feed_icon.png');
}
.nav__item--active .nav__link--icon--feed:before,
.nav__item:hover .nav__link--icon--feed:before {
    background-image: url('./img/feed_icon_copy.png');
}  
.nav__link--icon--service:before {
    background-image: url('./img/service_icon.png');
}
address {
    margin-right: 29px;
}
.contacts {
    font-style: normal;    
}
.contacts__phone {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;    
}
.contacts__schedule {
    text-align: end;
    display: block;
    opacity: .7;
    color: #f89513;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}
.breadcrumbs {
    padding: 0 115px;
}
.breadcrumbs__list {
    display: flex;
    list-style-type: none;
}
.breadcrumbs__item:after {
    content: "/";    
    vertical-align: middle;
}

.breadcrumbs__link {
    color: #f89513;
    font-size: 14px;
    font-style: italic;
}

.breadcrumbs__item--active:after {
    display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
    color: #221f1f;    
    text-decoration: none;
}

.main-img {
    text-align: center;
    margin: 42px 0 53px;
}
.desc-img {
    width: 740px;
    height: 486px;
}
.features {
    text-align: center;
    background: #131415;
    height: 570px;
}
.features__title, h5.features__name, p.features__desc, li.features__item {
    color: #ffffff;
}
.features__title {
    padding-bottom: 60px;
}
.features__list {
    display: flex;
    justify-content: center;
    list-style-type: disc;
}
.features__item {
    list-style-type: none;
    width: 204px;
    margin: 0px 30px;
}

.features__pic--icon--flower, 
.features__pic--icon--favorite, 
.features__pic--icon--palette {
    display: inline-flex;
    margin-bottom: 15px;
    width: 72px;
    height: 72px;
    background: center center / contain no-repeat;
}
.features__pic--icon--flower {
    background-image: url('./img/flower.png');
}
  
.features__pic--icon--favorite {
    background-image: url('./img/favorite.png');
}
  
.features__pic--icon--palette {
    background-image: url('./img/palette.png');
}
.features__desc, .desc__list {
    font-size: 18px;
    line-height: 30px;
}
.desc__list {
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
}
.nested__item {
    line-height: 2em;
}
.block__news, .sidebar, .news__list {
    font-family: 'Roboto', sans-serif;
    /*display: inline-block;*/
    vertical-align: top;
}
.block__news {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
}
.news__list {
    width: 77%;
    margin-right: 75px;
}
.news__item {
    display: inline-flex;
    border-bottom: solid 2px #f5f5f5;
    width: 830px;
    margin: 0 20px;
    padding: 27px 0px 20px;
}
.news__item:last-child {
    border-bottom: none;
}
.news__item img {
    border-radius: 50%;
    margin-right: 20px;
    width: 160px;
    height: 160px;
}
.sidebar {
    width: 16%;
    margin: 32px 0 0 0;
}
.top-news h4 {
    margin-bottom: 18px;
}
.news__item, .top-news__item {
    list-style-type: none;
}
.top-news__item {
    margin-bottom: 14px;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 6px 0 59px;
    width: 340px;
    height: 30px;
}
.pagination__display span {
    font-family: "Roboto";
    font-size: 14px;
    color: #656464;
}
.pagination__display, .pagination__list {
    display: flex;
    align-items: center;;
}
.pagination__pager, .pagination__item {
    display: inline-flex;
}
.pagination__button-prev, .pagination__button-next, .pagination__link {
    margin: 0 18px;
    font-family: "Roboto";
    font-weight: 700;
    text-decoration: none;
    color: #221f1f;
    font-size: 14px;
}
.pagination__link:hover,
.pagination__item--active .pagination__link  {
    color: #f89513;
}
.pagination__item--active {  
    list-style-type: none;
    width: 25px;
    height: 25px;
    background: url(./img/Paginator_hover.png);
}
.footer {
    background: #131415;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;    
}
.footer__copyright {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.footer__copyright p {
    line-height: 18px;
}
.copyright {
    color: #fff;
    font-weight: 600;
}
.footer__socials {    
    color: #fff;
}
.socials__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials__item {
    display: inline-flex;
    margin-right: 10px;
}
.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.socials__link:hover {
    background-color: #f89513;
}    

/*block_reviews*/
.block__reviews {
    display: flex;
    flex-wrap: wrap;
    padding: 0 115px;
}
.block__reviews h1 {
    padding: 18px 0;    
}
.reviews__list--vertical {
    display: flex;
    flex-wrap: wrap;
}
.review__avatar {
    margin-right: 20px;
}
.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  
.avatar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
}
  
.avatar__pic {
    display: block;  
    width: 100%;
    height: 100%;
}
.reviews__item {
    display: flex;
    align-items: center;  
    border-bottom: solid 2px #f5f5f5;
    width: 100%;   
    padding: 22px 0px 29px;
}
.reviews__item:last-child {
    border-bottom: none;
}
.service-promotion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 171px;
    background-color: #131415;
}
.service-promotion p {
    width: 638px;
    color: #fff;
}
.request {
    color: #f89513;
    font-weight: 700;
}
.block__services {
    padding: 0 115px;
}
.block__services h1 {
    text-align: left;
}
.services__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}    
.services__item {
    width: 250px; 
    margin-right: 60px;   
}
.services__item:nth-child(3n) {
    margin-right: 0;
}
.service__type {
    margin-bottom: 30px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 250px;
    height: 153px;
    border-radius: 3%;   
}
.service__type h2 {
    margin: auto;    
    color: green;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}
.service__pic {
    display: block;
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}
.service__pic:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
}
.service__desc h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.service__desc p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.form-section {
    margin: 62px auto;
    padding: 0 18%;
}
  
.form {
    background: #f5f5f5;
    color: #221f1f;
    padding: 45px 10%;
}
  
.form__title {
    font-size: 49px;
    margin-bottom: 10px;
    font-weight: bold;
}
  
.form__row {
    display: flex;
    margin-bottom: 18px;
}
  
.form__row:last-child {
    margin-bottom: 0;
}
  
.form__block {
    flex: 1;
    margin-left: 23px;
}
  
.form__block:first-child {
    margin-left: 0;
}
  
.form__input {
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 3px;
    padding: 15px 0px 15px 5px;
    outline: none;
    border: 1px solid transparent;
}
  
.form__input:focus {
    border-color: #b24930;
}
  
.form__input::placeholder {
    color: rgba(34, 31, 31, 0.5);
}
  
.form__block-title {
    font-size: 14px;
    margin-bottom: 7px;
}
  
.form__input--textarea {
    height: 70px;
    resize: vertical;
}
  
.form__buttons {
    margin-left: auto;
}

