.contacts {
    font-style: normal;    
}
.contacts__phone {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;    
}
.contacts__schedule {
    text-align: end;
    display: block;
    margin-bottom: 3px;    
    opacity: .7;
    color: #f89513;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    transition: 0.3s;
}
.contacts__dropdown {
    position: relative;  
    margin-right: 3px;      
}
.dropdown__list {
    list-style-type: none;
    margin: 13px 15px 15px 20px;
}
.contacts__dropdown:hover .contacts__schedule {    
    color: #fff;
}
.dropdown__menu {
    position: absolute;
    top: 100%;
    margin-top: 14px;
    right: 9999px;
    opacity: 0;
    transition: opacity .3s;   
    width: 160px;
    height: 71px;
    box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    border-radius: 3px;
}
.dropdown__menu:before {
    position: absolute;
    content: "";
    top: -14px;
    right: 0px;
    width: 0;
    height: 0;    
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;    
}
.contacts__dropdown:hover .dropdown__menu,
.dropdown__menu:hover {    
    right: 0;
    opacity: 1;
} 
.orange {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    color: #f89513;
}
.dropdown__item {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
}


