.sidebar__features {
    border: 1px solid #000;
    padding: 22px 22px 22px 25px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 58px;
     
}
.features__title, h5.features__name, p.features__desc, li.features__item {
    color: #221f1f;
}
.features__title {
    margin-bottom: 11px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.features__list {
    display: flex;
    justify-content: center;
    list-style-type: disc;
}
.features__item {
    list-style-type: none;
    width: 200px;
    margin: 0px 33px;
}

.features__pic--icon--flower, 
.features__pic--icon--favorite, 
.features__pic--icon--palette {
    display: inline-flex;
    margin-bottom: 15px;
    width: 72px;
    height: 72px;
    background: center center / contain no-repeat;
}
.features__pic--icon--flower {
    background-image: url('../../img/flower.png');
}
  
.features__pic--icon--favorite {
    background-image: url('../../img/favorite.png');
}
  
.features__pic--icon--palette {
    background-image: url('../../img/palette.png');
}
.features__desc, .desc__list {
    font-size: 18px;
    line-height: 30px;
}
.desc__list {
    padding-left: 18px;
    list-style-position: inside;
    text-align: left;
}
.nested__item {
    line-height: 35px;
    letter-spacing: 0.5px;
}