.footer {
    background: #131415;
}
.footer__container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;    
}
.footer__copyright {
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.footer__copyright p {
    line-height: 18px;
}
.copyright {
    color: #fff;
    font-weight: 600;
}
