.form-section {
    margin: 58px 0 51px 0;
    max-width: 760px  
}
  
.form {
    background: #f5f5f5;
    color: #221f1f;
    padding: 35px 95px 43px 95px;
}
  
.form__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 49px;    
    margin-bottom: 8px;
    font-weight: bold;
}
  
.form__row {
    display: flex;
    margin-bottom: 9px;
}
  
.form__row:last-child {
    margin-bottom: 0;
}
  
.form__block {
    flex: 1;
    margin-left: 23px;
}
  
.form__block:first-child {
    margin-left: 0;
}
  
.form__input {
    width: 100%;
    border: none;
    font-size: 14px;
    color: #221f1f;
    background: #fff;
    border-radius: 3px;
    padding: 15px 0 15px 10px;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid transparent;
}
  
.form__input:focus {
    border-color: #f89513;
}
  
.form__input::placeholder {
    color: rgba(34, 31, 31, 0.5);
}
  
.form__block-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}
  
.form__input--textarea {
    height: 89px;
    resize: vertical;
    padding: 8px 15px 15px 10px;
    margin-bottom: 3px;
}
.form__question {
    display: inline-flex;
    flex-direction: column;
}
.form__question-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 7px;
}
 
.form__buttons {
    margin-top: 6px;
    margin-left: auto;
}
.input__visible, .option__title {
    display: inline-flex;
}
.option__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px 0px 1px;
    transform: translatey(-4px);
}
.input {
    display: none;
}
.input:checked ~ .input__visible {
    border-radius: 50%;
    border: 1px solid #f89513;
    background-color: #ffffff;    
}
.input:checked ~ .option__title {
    color: #f89513;
}
.input__visible {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #c9c9c9;
    background-color: #ffffff;
}
.input:checked ~ .input__visible:before {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;    
    background:  #f89513; 
    border-radius: 50%;    
} 
.post__review {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase; 
    padding: 13px 21px;
    border: 0;
    border-radius: 4px;
    background: #1c1f1d;
    color:#fff;  
    cursor:pointer;
    transition: .3s;
}
.post__review:hover{
    background:#f89513;;
}
.post__review:focus{
    outline:none;
}


