.service-promotion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 171px;
    background-color: #131415;
}
.service-promotion p {
    width: 638px;
    color: #fff;
}
.request {
    color: #f89513;
    font-weight: 700;
}