.service-promotion {
    display: flex;
    justify-content: center;
    margin-top: 61px;
    margin-bottom: 24px;
    padding: 20px 26px 25px 28px;
    width: 220px;
    text-align: center;
    background-color: #131415;
}
.service-promotion p {
    width: 638px;
    color: #fff;
}
.request {
    color: #f89513;
    font-weight: 700;
}