.block__services {
    margin-bottom: 11px;
}
.block__services h1 {
    padding: 17px 0 47px;
    text-align: left;
}
.services__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}    
.services__item {
    width: 293px;   
    margin-bottom: 46px;  
}
.service__type {    
    margin-bottom: 22px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 250px;
    height: 153px;
    border-radius: 3%;   
}
.service__title {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 5;
}
.service__type {
    position: relative;
    cursor: pointer;    
    letter-spacing: 1.2px;
}
.service__type h2 {
    margin: auto;    
    color: #fff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}
.service__pic {
    display: block;    
    width: 100%;
    height: 100%;
    z-index: 1; 

}

.service__type:after {
    content: '';
    background-image: url('../../img/cover.png');
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.service__type:hover::after {
    background-image: none;
}
.service__desc h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}
.service__desc p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}