.block__socials { 
    margin-right: 17px;    
}
.block-socials h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 7px;
    color: #221f1f;
}
.socials__list {
    display: flex;
    justify-content: center;
}

.socials__item {
    display: inline-flex;
    margin-right: 10px;
}
.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.3;
    transition: .3s;
}
.socials__link:hover {
    opacity: 1;
}    